/* ----------- PADRÃO (computador / telas grandes) ------------ */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Compensa o menu fixo */
main {
    padding-top: 80px;
}


/* ----------- TELAS PEQUENAS (CELULAR) ------------ */
/* Só entra se a tela for MENOR que 576px */

@media (max-width: 576px) {
    /* Empurra conteúdo pra baixo pra não ficar atrás da navbar */
    main {
        padding-top: 100px;
    }    
}

